openapi: 3.2.0
info:
  title: Unlock Editorial Media API
  version: wp/v2
  description: 'Anonymous read access to the Unlock editorial archive on www.unlock.com through the WordPress core `wp/v2` namespace: blog posts, Learn articles, homeowner stories, education lessons and topics, bylined authors, pages, media, the categories, tags and education-category taxonomies, cross-type search, and the self-describing type/status metadata.'
  contact:
    name: Unlock Technologies
    url: https://www.unlock.com/about/
  x-derived-from: https://www.unlock.com/wp-json/ (WordPress REST route index, fetched 2026-09-02)
  x-derived-on: '2026-09-02'
  x-api-evangelist-note: 'Third-party profile. Every path and parameter was read from the Unlock WordPress REST route index at https://www.unlock.com/wp-json/ on 2026-09-02 — nothing is invented. Administrative, theme, plugin, widget, user and application-password routes the index also advertises are deliberately excluded: they are WordPress administration surface, not Unlock content, and they are not anonymously readable.'
  x-verified-on: '2026-09-02'
servers:
- url: https://www.unlock.com/wp-json
  description: Unlock WordPress REST API (www.unlock.com)
security: []
tags:
- name: Media
  description: Media library items.
paths:
  /wp/v2/media:
    get:
      operationId: getWpV2Media
      summary: List v2 media
      description: Read the `/wp/v2/media` route in the `wp/v2` namespace. Parameters below are the server's own published argument schema from the WordPress REST route index.
      tags:
      - Media
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter (`rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required for this scope (`rest_forbidden_context`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource matched (`rest_no_route` / `rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        required: false
        description: Limit result set to posts assigned to specific authors.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: author_exclude
        in: query
        required: false
        description: Ensure result set excludes posts assigned to specific authors.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: parent
        in: query
        required: false
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: parent_exclude
        in: query
        required: false
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          default: []
          items:
            enum:
            - post_title
            - post_content
            - post_excerpt
            type: string
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          default: inherit
          items:
            enum:
            - inherit
            - private
            - trash
            type: string
      - name: media_type
        in: query
        required: false
        description: Limit result set to attachments of a particular media type or media types.
        schema:
          type: array
          items:
            type: string
            enum:
            - image
            - application
      - name: mime_type
        in: query
        required: false
        description: Limit result set to attachments of a particular MIME type or MIME types.
        schema:
          type: array
          items:
            type: string
  /wp/v2/media/{id}:
    get:
      operationId: getWpV2MediaById
      summary: Retrieve a single v2 media by id
      description: Read the `/wp/v2/media/(?P[\d]+)` route in the `wp/v2` namespace. Parameters below are the server's own published argument schema from the WordPress REST route index.
      tags:
      - Media
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter (`rest_invalid_param`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required for this scope (`rest_forbidden_context`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource matched (`rest_no_route` / `rest_post_invalid_id`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
components:
  schemas:
    Error:
      type: object
      description: WordPress REST API error envelope, as returned by this deployment.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_no_route.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress application password (HTTP Basic). Advertised by this deployment at https://www.unlock.com/wp/wp-admin/authorize-application.php in the `authentication` block of the route index. It gates the write methods on these routes; every operation documented here is anonymous read and requires no credential.
